* {
  list-style-type: none;
}

.App {
  text-align: center;
}

.home {
  background-image: url("/images/gymdesign2.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  color: #007bff;
  background-color: #eeeeee;
}
